
input[class="buttoncal"]{ 
    background-color:#8578c2;
    color: white; 
    width:100%; 
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: "century gothic";
} 
input[class="buttoncal"]:hover{
    background-color: white;
    color: black;
}
input[class="txtcal"]{
    padding:20px;
    height:80px;
    background-color:#1d1717; 
    width:100%;
    color: white;
    font-size: 36px;
    font-family:"century gothic";
    text-align:right;
    border-radius: 10px;
    border:none;
}
#calculator{
    height:300px;
    width:300px;
    position:absolute;
    top:51%;
    left:50%;
    transform: translate(-50%,-50%);
}
#calculator tr td{
    padding: 0;
    margin:0;
}
#calFrame{
    height:350px;
    width:310px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    border-radius: 10px;
    position:fixed;
    top:60%;
    left:87%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 20px black;
    visibility: hidden;
}
#crossM{
    height: 50px;
    width: 50px;
    position: absolute;
    top:31%;
    left:80%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    visibility: hidden;
}
#background img{
    height:50px;
    width:50px;
}