body{
    margin:0;
    padding:0;
    background: linear-gradient(to left, #FFDF01 0%, #FFB302 100%); 
}
header{
    height:22%;
    width:100%;
    background-color: #1d1717;
    position: fixed;
}
#icon{
    height:150px;
    width:900px;
    position:fixed;
    top:10%;
    left:40%;
    transform: translate(-50%,-50%);
}
#icon img{
    height:140px;
    width:800px;
}
#logout{
    height: 53px;
    width:140px;
    position:fixed;
    top:10%;
    left:94%;
    transform: translate(-50%,-50%);
    background-color: #c7b91f;
    border-radius: 20px;
}
#logoutText{
    width:80px;
    position:fixed;
    top:10%;
    left:96%;
    transform: translate(-50%,-50%);
    background-color: #c7b91f;
}
#logout img{
    height:50px;
    width:50px;
}
#logoutText a{
    text-decoration: none;
    color: white; 
    display: inline-block;
    top: 0px;
    position:relative; 
}
#contactIcon{
    position: fixed;
    top:10%;
    left:72%;
    transform: translate(-50%,-50%);
    
}
#contactIcon img{
    height:30px;
    width:30px;
}
#contactText{
    width:250px;
    color:white;
    font-size: 14px;
    font-family: "century gothic";
    position: fixed;
    top:10%;
    left:83%;
    transform: translate(-50%,-50%);
}
#container{
    height:100px;
    width:100%;
    border-bottom: 3px solid black;
    top:130%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    background-color: #3d9b91;
}
#menu{
    width:100%;
    padding:5px;
    position: fixed;
    top:50%;
    left:65%;
    text-align:left;
    transition:0.5s;
    transform: translate(-50%,-50%);
}
#menu a{
    text-decoration: none;
    color: white; 
    display: inline-block;
    top: 0px;
    position:relative;
    }
#menu ul li{
    list-style-type: none;
    display: inline-block;
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    color:white;
    font-size:20px;
    font-family: "century gothic";
    cursor: pointer;
    transition:.5s;	
}
#menu ul li:hover{
    border-radius: 20px;
    background-color: tomato;
}
footer{
    height:40px;
    width:100%;
    position: fixed;
    top:98%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #1d1717;
}
#mini{
    width:200px;
    position: fixed;
    top:50%;
    left:32%;
    transform: translate(-50%,-50%);
}
.miniIcon img{
    height:30px;
    width:30px;
    padding: 10px;
    filter: grayscale(100%);
}
.miniIcon img:hover{
    filter: grayscale(0%);
}
#email{
    color: white;
    font-family: "century gothic";
    position: fixed;
    top:23%;
    left:15px;
}
#tc{
    color: white;
    font-family: "century gothic";
    position: fixed;
    top:23%;
    right:15px;
}
#box{
    height:62.5px;
    width:140px;
    background-color: tomato; 
    border-radius: 20px;
    position:fixed;
    top:50%;
    left:23%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}